
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="col-4 border border-info ps-5 pt-5">
          <h1>Clientes</h1>
          <div class="mt-5 w-75">
            <input type="text" class="form-control" placeholder="Buscar.." [(ngModel)]="filterCliente" />
          </div>
          <ul class="list-unstyled mt-4 ml-5">
            <li *ngFor="let cliente of clientes | filter:filterCliente"  class="mb-3 ml-5">
              <!--<button [class.selected]="cliente === selectedCliente" type="button" (click)="onSelect(cliente)">-->
              <button (click)="onSelect(cliente)" routerLink="/detalles/{{cliente.id}}" class="btn btn-info w-50" >
                <span class="btn-id text-white fw-bolder fs-5">{{cliente.id}} -</span>
                <span class="btn-nom text-white fw-bolder fs-5">{{cliente.nom}}</span>
              </button>
            </li>
          </ul>
        </div>
        <div  *ngIf="selectedCliente" class="col-4 info-cliente ms-5 ps-5 pt-5">
          <app-detalles-cliente [cliente]="selectedCliente"></app-detalles-cliente>
          <app-programas [cliente]="selectedCliente"></app-programas>
        </div>
      </div>
    </div>
  </div>
</div>

